:root {
  --body: #fcece1;
  --header: #13293d;
  --header-h1: #ffffff;
  --link: #ffffff;
  --greeting-p: #303030;
  --footer: #13293d;
  --footer-content: #ffffff;
}

* {
  /* border: solid rgb(245, 188, 188) 1px; */
}

body {
  display: flex;
  line-height: 1.5em;
  flex-direction: column;
  background-color: var(--body);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header);
  padding: 1% 20px;
}
.banner {
  display: flex;
  height: auto;
}

.banner #greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
}

#greeting h2 {
  margin-top: 30%;
  font-size: 38px;
}

#greeting p {
  font-style: italic;
  color: var(--greeting-p);
  margin: 1em;
}

.banner #self-image {
  flex: 1 0 0;
}

.banner #self-image img {
  max-width: 100%;
  max-height: 100%;
}

#site-header h1 {
  font-style: italic;
  font-family: Impact;
  font-size: 300%;
  margin: 2% 0;
  color: var(--header-h1);
}

#site-header h1::after {
  content: "Liu";
  color: gold;
  margin-left: 6px;
}

#site-nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
  transform: translate(-5%, 0);
}

#site-nav ul li {
  width: 70px;
  text-align: center;
  list-style-type: none;
}

#site-nav ul li a {
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  color: var(--link);
}

#br {
  height: 6em;
}

article {
  height: auto;
  display: flex;
  flex-direction: column;
}

article h2 {
  text-align: center;
  font-size: 30px;
}

#work div {
  display: flex;
}

#work-1,
#work-2 {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 0 0;
  margin: 5%;
}

#mini-project,
#seo-site-refractor {
  max-width: 100%;
  max-height: 100%;
  margin: 3% 0;
  border: solid 5px white;
}

#mini-project:hover,
#mini-project:active,
#seo-site-refractor:hover,
#seo-site-refractor:active {
  transform: rotate(-2deg);
  border: solid 5px #13293d;
  box-shadow: 0px 0px 15px #13293d;
}

#about div {
  display: flex;
}

#about-1,
#about-2 {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 0 0;
  margin: 5%;
}

#about-2 p {
  font-size: 125%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 1.5em;
}

#about-2 p span[data-descr] {
  position: relative;
  text-decoration: underline;
  color: #000;
  cursor: grab;
}

#about-2 p span[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 0px;
  bottom: 24px;
  min-width: 5px;
  border: 1px #aaaaaa solid;
  background-color: #13293d;
  padding: 5px;
  color: #fff;
  font-size: 80%;
  z-index: 1;
}

#portrait {
  border-radius: 50px;
  max-width: 70%;
  max-height: 70%;
  margin-left: 30%;
}

#contact-info input {
  width: 400px;
  padding: 5px;
  border-radius: 5px;
  display: block;
  margin: 2px auto;
}

#contact-info button {
  font-weight: bolder;
  width: 100px;
  border-radius: 5px;
  display: block;
  margin: 2px auto;
  padding: 5px;
  transform: translate(150%, 0%);
}

footer {
  height: 5em;
  background-color: var(--footer);
}

footer p {
  color: var(--footer-content);
  text-align: center;
}

@media screen and (max-width: 768px) {
  figure {
    flex-direction: column;
  }

  #br {
    height: 3em;
  }

  #work div {
    display: block;
    text-align: center;
  }

  #mini-project,
  #seo-site-refractor {
    max-width: 50%;
    max-height: 50%;
  }

  #about div {
    display: block;
    text-align: center;
  }

  #portrait {
    max-width: 30%;
    max-height: 30%;
    margin: 3%;
  }

  #about-2 {
    margin-left: 30%;
  }

  #about-2 p {
    font-size: 100%;
    text-align: left;
  }

  #greeting h2 {
    margin-top: 10%;
    font-size: 20px;
  }

  header {
    flex-direction: column;
    padding: 0.5em 0;
  }

  .banner #greeting {
    flex: 1 0 0;
  }
  .banner #self-image {
    flex: 3 0 0;
  }

  #site-nav ul {
    min-width: 300px;
    transform: translate(0, 0);
    margin-top: 0.5em;
  }

  #site-nav ul li a {
    font-size: 1em;
  }

  #contact-info input {
    width: 70%;
  }

  #contact-info button {
    text-align: center;
  }
}
